harness:
  subdomain: workflows
  secured: false
  service:
    port: 8080
    auto: true
  deployment:
    auto: true
    port: 8080
  dependencies:
    hard:
      - argo
    build:
      - cloudharness-flask
  test:
    api:
      enabled: true
      autotest: true
      runParams:
        - --mode
        - positive
        - --max-examples
        - "5"
        - --exclude-checks
        - response_schema_conformance,positive_data_acceptance
      checks:
        - all
