harness:
  subdomain: workflows
  secured: false
  service:
    port: 8080
    auto: true
  deployment:
    auto: true
    port: 8080
  dependencies:
    hard:
      - argo
    build:
      - cloudharness-flask
  test:
    api:
      enabled: true
      autotest: true
      checks:
        - all
      runParams:
        - "--suppress-health-check=filter_too_much"