# Deployment & Database
harness:
  subdomain: accounts
  secured: false
  deployment:
    auto: true
    port: 8080
    resources:
      requests:
        memory: "512Mi"
        cpu: "10m"
      limits:
        memory: "1024Mi"
        cpu: "2000m"
  service:
    auto: true
    port: 8080
  env:
    - name: KC_BOOTSTRAP_ADMIN_USERNAME
      value: "admin"
    - name: KC_BOOTSTRAP_ADMIN_PASSWORD
      value: "metacell"
    - name: KC_PROXY_HEADERS
      value: xforwarded
    - name: KC_DB
      value: "postgres"
    - name: KC_DB_URL_HOST
      value: "keycloak-postgres"
    - name: KC_DB_URL_DATABASE
      value: "auth_db"
    - name: KC_DB_USERNAME
      value: "user"
    - name: KC_DB_PASSWORD
      value: "password"
    - name: KC_HTTP_ENABLED
      value: "true"
    - name: KC_PROXY
      value: "edge"
    - name: KC_HOSTNAME_STRICT
      value: "false"
    - name: KC_HOSTNAME_STRICT_HTTPS
      value: "false"
    - name: KC_HEALTH_ENABLED
      value: "true"
    - name: KC_METRICS_ENABLED
      value: "true"
    - name: JAVA_OPTS
      value: -server -Xms64m -Xmx896m -XX:MetaspaceSize=96M -XX:MaxMetaspaceSize=256m -Djava.net.preferIPv4Stack=true -Djboss.modules.system.pkgs=org.jboss.byteman -Djava.awt.headless=true  --add-exports=java.base/sun.nio.ch=ALL-UNNAMED --add-exports=jdk.unsupported/sun.misc=ALL-UNNAMED --add-exports=jdk.unsupported/sun.reflect=ALL-UNNAMED
  database:
    auto: true
    name: keycloak-postgres
    type: postgres
    size: 2Gi
    postgres:
      image: postgres:17
      initialdb: auth_db
    user: user
    pass: password
  secrets:
    api_user_password: ""
  resources:
    - name: realm-config
      src: realm.json
      dst: /opt/keycloak/data/import/realm.json
  startupProbe:
    path: /health/started
    port: 9000
  readinessProbe:
    path: /health/ready
    port: 9000
  livenessProbe:
    path: /health/live
    port: 9000

# Keycloak realm configuration
client:
  id: rest-client
  secret: 5678eb6e-9e2c-4ee5-bd54-34e7411339e8
webclient:
  id: web-client
  secret: 452952ae-922c-4766-b912-7b106271e34b
enabled: true
harvest: true
admin:
  pass: metacell
  user: admin
  role: administrator
editUsernameAllowed: true
useEvents: true
identityProviders:
- github
- google
theme:
  login: "keycloak"
  account: "keycloak"
  admin: "keycloak"
  email: "keycloak"
