include cloudharness_utilities/deployment-configuration/*
include cloudharness_utilities/deployment-configuration/**/*
include cloudharness_utilities/deployment-configuration/**/**/*
include cloudharness_utilities/deployment-configuration/**/**/**/*
include cloudharness_utilities/application-templates/*
include cloudharness_utilities/application-templates/**/*
include cloudharness_utilities/application-templates/**/**/*