pytest
pytest-cov
coverage
nose
randomize
pyparsing
-e ../../libraries/models
-e ../../libraries/cloudharness-utils
-e ../../libraries/client/cloudharness_cli
-e ../../libraries/cloudharness-common
-e .
