**/node_modules
.tox
docs
applications
/infrastructure
/blueprint
test
/tools/deployment-cli-tools
.github
.git
.vscode
/deployment
skaffold.yaml
*.egg-info
__pycache__
.hypothesis
.coverage
.pytest_cache
/application-templates
/deployment-configuration
/cloud-harness
.openapi-generator