asn1crypto==0.24.0
certifi==2019.3.9
chardet==3.0.4
idna==2.8
pyjwt==2.6.0
pyOpenSSL==22.1.0
PySocks==1.6.8
requests>=2.27.0
ruamel.yaml==0.17.21
six==1.16.0
urllib3>=1.26
pykafka==2.8.0
pyaml
kafka-python
kubernetes
sentry-sdk[flask]==0.14.4
python-keycloak==2.6.0
argo-workflows==5.0.0
cryptography<3.4
hypothesis==6.54.2
jsonschema<4.0.0
httpx==0.23.0
