asn1crypto==0.24.0
certifi==2019.3.9
chardet==3.0.4
idna==2.8
pyjwt>=1.7.1,<2
pyOpenSSL==19.0.0
PySocks==1.6.8
requests>=2.27.0
ruamel-yaml==0.16.13
six==1.12.0
urllib3>=1.26
pykafka==2.8.0
pyaml
kafka-python
kubernetes
sentry-sdk[flask]==0.14.4
python-keycloak==1.6.0
argo-workflows==5.0.0
schemathesis==3.16.5
hypothesis==6.54.2
hypothesis-graphql==0.9.0
hypothesis-jsonschema==0.22.0
openapi-schema-validator==0.3.0
openapi-spec-validator==0.3.1
fastapi-code-generator==0.3.5