*.jar
.idea
*.iml
node_modules
.openapi-generator
*.pyc
.vscode
.coverage
*.DS_Store
cloud-harness
build
skaffold.yaml
/deployment.yaml
/deployment/compose
/.run/
*.egg-info
.overrides
.hypothesis
.pytest_cache
__pycache__