argo-workflows==5.0.0
asn1crypto==0.24.0
atomicwrites==1.4.0
attrs==21.4.0
autopep8==1.6.0
black==22.1.0
blinker==1.4
cachetools==5.0.0
certifi==2019.3.9
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
clickclick==20.10.2
connexion==2.6.0
coverage==6.3.2
cryptography==3.3.2
distlib==0.3.4
ecdsa==0.17.0
filelock==3.6.0
flake8==4.0.1
Flask==1.1.2
Flask-Cors==3.0.8
flask-oidc==1.4.0
Flask-SQLAlchemy==2.4.1
Flask-Testing==0.6.1
google-auth==2.6.2
greenlet==1.1.2
gunicorn==20.1.0
httplib2==0.20.4
idna==2.8
importlib-metadata==4.2.0
importlib-resources==5.4.0
inflection==0.5.1
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==4.4.0
kafka-python==2.0.2
kazoo==2.5.0
kubernetes==11.0.0
MarkupSafe==2.1.1
mccabe==0.6.1
more-itertools==8.12.0
mypy-extensions==0.4.3
oauth2client==4.1.3
oauthlib==3.2.0
openapi-schema-validator==0.2.3
openapi-spec-validator==0.4.0
packaging==21.3
pathspec==0.9.0
pep517==0.12.0
pip-tools==6.5.1
platformdirs==2.5.1
pluggy==0.13.1
py==1.11.0
pyaml==21.10.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
PyJWT==1.7.1
pykafka==2.8.0
pyOpenSSL==19.0.0
pyparsing==3.0.7
pyrsistent==0.18.1
PySocks==1.6.8
pytest==4.6.11
pytest-cov==3.0.0
pytest-randomly==1.2.3
python-dateutil==2.8.2
python-jose==3.3.0
python-keycloak==0.24.0
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.6
sentry-sdk==0.14.4
six==1.16.0
SQLAlchemy==1.4.32
swagger-ui-bundle==0.0.8
tabulate==0.8.9
toml==0.10.2
tomli==2.0.1
tox==3.24.5
typed-ast==1.5.2
typing_extensions==4.1.1
urllib3==1.26.9
virtualenv==20.13.4
wcwidth==0.2.5
websocket-client==1.3.1
Werkzeug==2.0.3
zipp==3.7.0