connexion==2.6.0
Flask==1.1.2
Flask-Cors==3.0.9
flask-oidc==1.4.0
Flask-Testing==0.6.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema<4.0.0
openapi-spec-validator==0.4.0
pytest==4.6.11
pytest-cov==3.0.0
pytest-randomly==1.2.3
sentry-sdk==0.14.4
SQLAlchemy==1.4.32
swagger-ui-bundle==0.0.8
Werkzeug==2.0.3