openapi: 3.0.0
info:
    title: CH common service API
    version: 0.1.0
    description: Cloud Harness Platform - Reference CH service API
    license:
        name: UNLICENSED
servers:
    -
        url: /api
        description: SwaggerHub API Auto Mocking
paths:
    /accounts/config:
        get:
            tags:
                - Accounts
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    url:
                                        description: The auth URL.
                                        type: string
                                    realm:
                                        description: The realm.
                                        type: string
                                    clientId:
                                        description: The clientID.
                                        type: string
                    description: Config for accounts log in
            operationId: get_config
            summary: Gets the config for logging in into accounts
            description: Gets the config for logging in into accounts
            x-openapi-router-controller: common.controllers.accounts_controller
    /version:
        summary: Get the version for this deployment
        get:
            tags:
                - config
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppVersion'
                            examples:
                                version:
                                    value: "{\r\n  \"build\": \"63498f19146bae1a6ae7e354\"\r\n  \"tag\": \"v1.2.0\"\r\n}"
                    description: Deployment version GET
            operationId: getVersion
components:
    schemas:
        AppVersion:
            title: Root Type for AppVersion
            description: ''
            type: object
            properties:
                build:
                    type: string
                tag:
                    type: string
            example:
                build: 63498f19146bae1a6ae7e354
                tag: v1.2.0
tags:
    -
        name: Sentry
        description: Sentry
