# Source: cloudharness/templates/auto-compose.yaml
version: "3.7"

services:
  traefik:
    image: traefik:v2.10
    container_name: traefik
    networks:
      - ch
    command:
      - --log.level=INFO
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --providers.file.directory=/etc/traefik/dynamic_conf
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/certs/:/certs/:ro
      - ./traefik/traefik.yaml:/etc/traefik/dynamic_conf/conf.yml:ro
  accounts:
    networks:
      - ch
    image: cloudharness/accounts

    expose:
      - 8080
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          cpus: 0.500
          memory: 1024M
        reservations:
          cpus: 0.010
          memory: 512M
    healthcheck:
      test: [CMD, curl, -f, http://127.0.0.1:8080/realms/ch/account]
      interval: 1s
      timeout: 3s
      retries: 30
    environment:
      - CH_CURRENT_APP_NAME=accounts
      - CH_VERSION=2.4.0
      - CH_ACCOUNTS_SUBDOMAIN=accounts
      - CH_ACCOUNTS_NAME=accounts
      - CH_JUPYTERHUB_SUBDOMAIN=hub
      - CH_JUPYTERHUB_NAME=jupyterhub
      - CH_ARGO_SUBDOMAIN=argo
      - CH_ARGO_NAME=argo
      - CH_SAMPLES_SUBDOMAIN=samples
      - CH_SAMPLES_PORT=80
      - CH_SAMPLES_NAME=samples
      - CH_COMMON_SUBDOMAIN=common
      - CH_COMMON_NAME=common
      - CH_EVENTS_SUBDOMAIN=events
      - CH_EVENTS_NAME=events
      - CH_WORKFLOWS_SUBDOMAIN=workflows
      - CH_WORKFLOWS_NAME=workflows
      - CH_DOMAIN=ch
      - CH_IMAGE_REGISTRY=
      - CH_IMAGE_TAG=
      - CH_ACCOUNTS_CLIENT_SECRET=5678eb6e-9e2c-4ee5-bd54-34e7411339e8
      - CH_ACCOUNTS_REALM=ch
      - CH_ACCOUNTS_AUTH_DOMAIN=accounts.ch
      - CH_ACCOUNTS_CLIENT_ID=rest-client
      - DOMAIN=ch
      - KEYCLOAK_IMPORT=/tmp/realm.json
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=metacell
      - PROXY_ADDRESS_FORWARDING=true
      - DB_VENDOR=POSTGRES
      - DB_ADDR=keycloak-postgres
      - DB_DATABASE=auth_db
      - DB_USER=user
      - DB_PASSWORD=password
      - JAVA_OPTS=-server -Xms64m -Xmx896m -XX:MetaspaceSize=96M -XX:MaxMetaspaceSize=256m
        -Djava.net.preferIPv4Stack=true -Djboss.modules.system.pkgs=org.jboss.byteman
        -Djava.awt.headless=true  --add-exports=java.base/sun.nio.ch=ALL-UNNAMED --add-exports=jdk.unsupported/sun.misc=ALL-UNNAMED
        --add-exports=jdk.unsupported/sun.reflect=ALL-UNNAMED
    volumes:
      - ./compose/allvalues.yaml:/opt/cloudharness/resources/allvalues.yaml:ro
      - ./compose/resources/generated/accounts/api_user_password:/opt/cloudharness/resources/accounts/api_user_password
      - type: bind
        source: ./compose/resources/generated/accounts/realm.json
        target: /tmp/realm.json
    labels:
      - traefik.enable=true
      - traefik.http.services.accounts.loadbalancer.server.port=8080
        # - "traefik.http.middlewares.redirect-middleware.redirectscheme.scheme=https"
        # - "traefik.http.routers..middlewares=redirect-middleware"
      - traefik.http.routers.accounts.rule=Host(`accounts.ch`)
      - traefik.http.routers.accounts.entrypoints=web
  # Database type postgres named keycloak-postgres
  keycloak-postgres:
    networks:
      ch:
    image: postgres:10.4
    expose:
      - "5432"
    deploy:
      resources:
        limits:
          cpus: 1.000
          memory: 2G
        reservations:
          cpus: 0.100
          memory: 512M
    volumes:
      - type: volume
        source: keycloak-postgres
        target: /data/db
      - type: volume
        source: dshm-keycloak-postgres
        target: /dev/shm
    environment:
      - POSTGRES_DB=auth_db
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - PGDATA=/data/db/pgdata
  common:
    networks:
      - ch
    image: cloudharness/common

    expose:
      - 8080
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          cpus: 0.200
          memory: 256M
        reservations:
          cpus: 0.050
          memory: 128M
    # entrypoint: python /usr/src/app/common/__main__.py
    environment:
      - CH_CURRENT_APP_NAME=common
      - CH_VERSION=2.4.0
      - CH_ACCOUNTS_SUBDOMAIN=accounts
      - CH_ACCOUNTS_NAME=accounts
      - CH_JUPYTERHUB_SUBDOMAIN=hub
      - CH_JUPYTERHUB_NAME=jupyterhub
      - CH_ARGO_SUBDOMAIN=argo
      - CH_ARGO_NAME=argo
      - CH_SAMPLES_SUBDOMAIN=samples
      - CH_SAMPLES_PORT=80
      - CH_SAMPLES_NAME=samples
      - CH_COMMON_SUBDOMAIN=common
      - CH_COMMON_NAME=common
      - CH_EVENTS_SUBDOMAIN=events
      - CH_EVENTS_NAME=events
      - CH_WORKFLOWS_SUBDOMAIN=workflows
      - CH_WORKFLOWS_NAME=workflows
      - CH_DOMAIN=ch
      - CH_IMAGE_REGISTRY=
      - CH_IMAGE_TAG=
      - CH_ACCOUNTS_CLIENT_SECRET=5678eb6e-9e2c-4ee5-bd54-34e7411339e8
      - CH_ACCOUNTS_REALM=ch
      - CH_ACCOUNTS_AUTH_DOMAIN=accounts.ch
      - CH_ACCOUNTS_CLIENT_ID=rest-client
      - DOMAIN=ch
    volumes:
      - ./compose/allvalues.yaml:/opt/cloudharness/resources/allvalues.yaml:ro
    labels:
      - traefik.enable=true
      - traefik.http.services.common.loadbalancer.server.port=8080
        # - "traefik.http.middlewares.redirect-middleware.redirectscheme.scheme=https"
        # - "traefik.http.routers..middlewares=redirect-middleware"
      - traefik.http.routers.common.rule=Host(`common.ch`)
      - traefik.http.routers.common.entrypoints=web
  samples:
    networks:
      - ch
    image: cloudharness/samples

    expose:
      - 8080
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          cpus: 0.500
          memory: 500M
        reservations:
          cpus: 0.010
          memory: 32M
    # entrypoint: python /usr/src/app/samples/__main__.py
    environment:
      - CH_CURRENT_APP_NAME=samples
      - CH_VERSION=2.4.0
      - CH_ACCOUNTS_SUBDOMAIN=accounts
      - CH_ACCOUNTS_NAME=accounts
      - CH_JUPYTERHUB_SUBDOMAIN=hub
      - CH_JUPYTERHUB_NAME=jupyterhub
      - CH_ARGO_SUBDOMAIN=argo
      - CH_ARGO_NAME=argo
      - CH_SAMPLES_SUBDOMAIN=samples
      - CH_SAMPLES_PORT=80
      - CH_SAMPLES_NAME=samples
      - CH_COMMON_SUBDOMAIN=common
      - CH_COMMON_NAME=common
      - CH_EVENTS_SUBDOMAIN=events
      - CH_EVENTS_NAME=events
      - CH_WORKFLOWS_SUBDOMAIN=workflows
      - CH_WORKFLOWS_NAME=workflows
      - CH_DOMAIN=ch
      - CH_IMAGE_REGISTRY=
      - CH_IMAGE_TAG=
      - CH_ACCOUNTS_CLIENT_SECRET=5678eb6e-9e2c-4ee5-bd54-34e7411339e8
      - CH_ACCOUNTS_REALM=ch
      - CH_ACCOUNTS_AUTH_DOMAIN=accounts.ch
      - CH_ACCOUNTS_CLIENT_ID=rest-client
      - DOMAIN=ch
      - WORKERS=3

    links:
      - workflows:workflows.ch
      #     - events:events.ch
      - common:common.ch
    #     - jupyterhub:jupyterhub.ch
    volumes:
      - ./compose/allvalues.yaml:/opt/cloudharness/resources/allvalues.yaml:ro
      - ./compose/resources/generated/auth/asecret:/opt/cloudharness/resources/auth/asecret
      - type: volume
        source: my-shared-volume
        target: /tmp/myvolume
      - type: bind
        source: ./compose/resources/generated/samples/myConfig.json
        target: /tmp/resources/myConfig.json
      - type: bind
        source: ./compose/resources/generated/samples/example.yaml
        target: /usr/src/app/important_config.yaml
    labels:
      - traefik.enable=true
      - traefik.http.services.samples.loadbalancer.server.port=8080
        # - "traefik.http.middlewares.redirect-middleware.redirectscheme.scheme=https"
        # - "traefik.http.routers..middlewares=redirect-middleware"
      - traefik.http.routers.samples.rule=Host(`samples.ch`)
      - traefik.http.routers.samples.entrypoints=web
  workflows:
    networks:
      - ch
    image: cloudharness/workflows

    expose:
      - 8080
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          cpus: 0.500
          memory: 500M
        reservations:
          cpus: 0.010
          memory: 32M
    # entrypoint: python /usr/src/app/workflows_api/__main__.py
    environment:
      - CH_CURRENT_APP_NAME=workflows
      - CH_VERSION=2.4.0
      - CH_ACCOUNTS_SUBDOMAIN=accounts
      - CH_ACCOUNTS_NAME=accounts
      - CH_JUPYTERHUB_SUBDOMAIN=hub
      - CH_JUPYTERHUB_NAME=jupyterhub
      - CH_ARGO_SUBDOMAIN=argo
      - CH_ARGO_NAME=argo
      - CH_SAMPLES_SUBDOMAIN=samples
      - CH_SAMPLES_PORT=80
      - CH_SAMPLES_NAME=samples
      - CH_COMMON_SUBDOMAIN=common
      - CH_COMMON_NAME=common
      - CH_EVENTS_SUBDOMAIN=events
      - CH_EVENTS_NAME=events
      - CH_WORKFLOWS_SUBDOMAIN=workflows
      - CH_WORKFLOWS_NAME=workflows
      - CH_DOMAIN=ch
      - CH_IMAGE_REGISTRY=
      - CH_IMAGE_TAG=
      - CH_ACCOUNTS_CLIENT_SECRET=5678eb6e-9e2c-4ee5-bd54-34e7411339e8
      - CH_ACCOUNTS_REALM=ch
      - CH_ACCOUNTS_AUTH_DOMAIN=accounts.ch
      - CH_ACCOUNTS_CLIENT_ID=rest-client
      - DOMAIN=ch

    volumes:
      - ./compose/allvalues.yaml:/opt/cloudharness/resources/allvalues.yaml:ro
    labels:
      - traefik.enable=true
      - traefik.http.services.workflows.loadbalancer.server.port=8080
        # - "traefik.http.middlewares.redirect-middleware.redirectscheme.scheme=https"
        # - "traefik.http.routers..middlewares=redirect-middleware"
      - traefik.http.routers.workflows.rule=Host(`workflows.ch`)
      - traefik.http.routers.workflows.entrypoints=web

# Network definition
networks:
  ch:
    name: ch_network
volumes:
  keycloak-postgres:
  dshm-keycloak-postgres:
  my-shared-volume:
