harness:
  name: volumemanager
  subdomain: volumemanager
  proxy:
    gatekeeper:
      replicas: 1
  service:
    port: 8080
    auto: true
    name: volumemanager
  secured: false
  sentry: true
  deployment:
    auto: true
    port: 8080
  dependencies:
    build:
      - cloudharness-flask
  test:
    api:
      enabled: true
      autotest: true
      checks:
        - all