version: '3.2'

services:
  postgres:
      image: postgres
      environment:
        POSTGRES_DB: keycloak
        POSTGRES_USER: keycloak
        POSTGRES_PASSWORD: password
        PGDATA: /var/lib/postgresql/data/pgdata
      volumes:
        - pg_data:/var/lib/postgresql/data/pgdata

  keycloak:
      image: quay.io/keycloak/keycloak:16.1.1
      environment:
        DB_VENDOR: POSTGRES
        DB_ADDR: postgres
        DB_DATABASE: keycloak
        DB_USER: keycloak
        DB_SCHEMA: public
        DB_PASSWORD: password
        KEYCLOAK_USER: admin
        KEYCLOAK_PASSWORD: Pa55w0rd

      ports:
        - 8080:8080
      depends_on:
        - postgres
      volumes:
        - type: bind
          source: ../themes/custom
          target: /opt/jboss/keycloak/themes/custom
        # disable cache
        - type: bind
          source: ./disable-theme-cache.cli
          target: /opt/jboss/startup-scripts/disable-theme-cache.cli
        - type: bind
          source: ../scripts/create_api_user.sh
          target: /opt/jboss/startup-scripts/create_api_user.sh
        - type: bind
          source: ../plugins/metacell-admin-event-listener-bundle-1.0.0.ear
          target: /opt/jboss/keycloak/standalone/deployments/metacell-admin-event-listener-bundle-1.0.0.ear
volumes:
  pg_data: