openapi: 3.0.0
info:
  description: Cloud Harness Platform - Reference CH service API
  license:
    name: UNLICENSED
  title: CH common service API
  version: 0.1.0
servers:
- description: SwaggerHub API Auto Mocking
  url: /api
tags:
- description: Sentry
  name: Sentry
paths:
  /accounts/config:
    get:
      description: Gets the config for logging in into accounts
      operationId: get_config
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_config_200_response'
          description: Config for accounts log in
      summary: Gets the config for logging in into accounts
      tags:
      - Accounts
      x-openapi-router-controller: common.controllers.accounts_controller
  /version:
    get:
      operationId: get_version
      responses:
        "200":
          content:
            application/json:
              examples:
                version:
                  value: "{\r\n  \"build\": \"63498f19146bae1a6ae7e354\"\r\n  \"tag\"\
                    : \"v1.2.0\"\r\n}"
              schema:
                $ref: '#/components/schemas/AppVersion'
          description: Deployment version GET
      tags:
      - config
      x-openapi-router-controller: common.controllers.config_controller
    summary: Get the version for this deployment
components:
  schemas:
    AppVersion:
      description: ""
      example:
        build: 63498f19146bae1a6ae7e354
        tag: v1.2.0
      properties:
        build:
          type: string
        tag:
          type: string
      title: Root Type for AppVersion
      type: object
    get_config_200_response:
      example:
        clientId: clientId
        realm: realm
        url: url
      properties:
        url:
          description: The auth URL.
          title: url
          type: string
        realm:
          description: The realm.
          title: realm
          type: string
        clientId:
          description: The clientID.
          title: clientId
          type: string
      title: get_config_200_response
      type: object
